@*@model SAIM_FO.Models.UserModel*@
@{
    ViewData["Title"] = "Compagnies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Companies</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">List companies</a></li>
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="@Url.Action("Create","Company")">Add</a></li>
                    <li class="nav-item"><a class="nav-link accent-green" href="#" data-toggle="tab">Import .txt</a></li>                    
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab">@Html.ActionLink("Export .txt", "ExportTxt")</a></li>
                </ul>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div class="card-tools">
                                    <div class="card-tools">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name company</th>
                                    <th>Address</th>     
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var company in ViewBag.ListCompany)
                                {
                                <tr>
                                    <td>@company.IdCompany</td>
                                    <td>@company.CompanyName</td>
                                    <td>@company.Address</td>
                                    <td>@company.Details</td>
                                    <td class="project-actions text-right">
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Update","Company" ,new { idCompany = company.IdCompany } )">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Company" ,new { idCompany = company.IdCompany } )">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>       
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->