@*@model SAIM_FO.Models.UserModel*@
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Contacts</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Liste contacts</a></li>
                    <li class="breadcrumb-item active">Accueil</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="@Url.Action("Create","Contact")">Ajouter</a></li>
                </ul>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Liste des contacts</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div class="card-tools">
                                    <div class="card-tools">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Identifiant</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Numéro de téléphone</th>
                                    <th>Status(Favoris/Pas favoris)</th>
                                    <th>Société</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contact in ViewBag.ListContact)
                                {
                                <tr>
                                    <td>@contact.IdContact</td>
                                    <td>@contact.FirstName</td>
                                    <td>@contact.LastName</td>
                                    <td>@contact.Phone</td>
                                    @if (@contact.Status.ToString() == "Favori")
                                    {
                                        <td>Favori</td>
                                    }
                                    else
                                    {
                                        <td>Non Favori</td>
                                    }
                                    <td>@contact.Company</td>
                                    <td class="project-actions text-right">                                       
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Contact" ,new { idContact = contact.IdContact } )">
                                            <i class="fas fa-trash">
                                            </i>
                                            Supprimer
                                        </a>
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->